<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>my friends from the dojo</h1>
  {% for friend in all_friends %}
    <p>
      <b>{{ friend['name'] }}</b> {{ friend['email'] }}
      <button><a href="/show/{{friend['id']}}">show</a></button>
      <button><a href="/update/{{friend['id']}}">update</a></button>
      <button><a href="/delete/{{friend['id']}}">delete</a></button>
    </p>
  {% endfor %}
  <form action="/add" method="get">
    <input type="submit" value="Add User">
  </form>
</body>
</html>